.container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.iconTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: white;
}

.header {
  background-color: gold;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
}

.titleOne {
  margin-left: 20px;
  padding-right: 10px;
  text-transform: uppercase;
  color: black;
  font-size: 2em;
}

.titleIcon {
  color: black;
}

.titleTwo {
  padding-left: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 2em;
  font-style: italic;
}

.navToggle,
.navToggleOpen {
  border: none;
  cursor: pointer;
  text-decoration: underline;
  width: 35px;
  height: 5px;
  display: inline-block;
  background-color: black;
  position: relative;
  margin-right: 10px;
  transition: all 250ms ease-in-out;
  outline: none;
}

.navToggle::before,
.navToggleOpen::before,
.navToggle::after,
.navToggleOpen::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 35px;
  height: 5px;
  left: 0;
  transition: all 250ms ease-in-out;
}

.navToggle::after,
.navToggleOpen::after {
  top: -10px;
}

.navToggle::before,
.navToggleOpen::before {
  top: 10px;
}

.navContainer {
  margin-left: auto;
}

.menu {
  height: 100px;
  width: 100%;
  background-color: gold;
}

.menuOpen {
  display: block;
}

.menuClose {
  display: none;
}

.navToggleOpen {
  background-color: transparent;
  transition: background-color 50ms ease-in-out;
}

.navToggleOpen::before {
  top: 0;
  transform: rotate(-40deg);
}

.navToggleOpen::after {
  top: 0;
  transform: rotate(40deg);
}
